<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content=" "width=device-width, initial-scale="1.0">
    <title> Search Bar</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>

<div class="container">
        
        <form action="http://127.0.0.1:5000/" method="post"  class="search-bar">
            <input type="text" placeholder="Type in slang word to search" name="q">
            <button type="submit"><img src="static/search.png" class="search"></button>



        </form>

            <div class="Logo">

             <img class="logo" src="static/slang.png">
                    
            </div>
            <div class="text">
                langtionary
            </div>

            <div class="Information">
                Your online dictionary for slang and unconventional english
            </div>

            <div class="Copy">
                CLAMJ © 2023
            </div>

</div>
</body>
</html>