*{

    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: monaco,Consolas,Lucida Console,monospace;

}

/* KEYFRAMES */

@keyframes fadeup {
    0% {
        opacity: 0;
        transform: translateY(30px) scale(0.9);
    }

    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}


@keyframes fadedown {
    0% {
        opacity: 0;
        transform: translateY(-30px) scale(0.9);
    }

    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

/*.Logo{
    position: relative;
    background-position-x: 15%;
    background-position-y: 30%;

}*/



.container{
    
    position: relative;

    width: 100%;
    min-height: 100vh;
    padding: 5%;
    background-image: linear-gradient(rgba(0, 49, 51,0.8),rgba(0, 49, 51,0.8)), url(MtnBg.jpg);
    background-position: center;
    background-size: cover;

    /*For search abr and search button*/
    display: flex;
    align-items: center;
    justify-content: center;


}

/*.search {
    width: 25px;
    height: 25px;
}*/

.logo {
    position: absolute;
    top: 50000;
    right: 70000;
    transform: translate(-390%, -200%);

}

.text {
    color: white;
    font-size: 90px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-34%, -270%);

    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
}


.Information {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -590%);

    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
}

.Copy {
    color: white;
    font-size: 9px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(310%, 590%);
    opacity: 0.2;

    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
}

.search-bar {
    animation: fadedown 0.9s;
}

.search-bar{


    width: 100%;
    max-width: 700px;
    background: rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    border-radius: 40px;
    padding: 10px 20px;
    backdrop-filter: blur(4px) saturate(180%);


}


.search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: white;

}

::placeholder {
    color: darkgray;
}

.search-bar button img {
    width: 45px;
}

.search-bar button {
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: white;
    cursor: pointer;

}

.logo {
    width: 170px;
    height: 170px;
}

